In [ ]:
#pip install mysql-connector-python

In [ ]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',database='new',port=3306)
sql="CREATE TABLE student1(stuid INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(20),roll INT,fees FLOAT)"
myc=conn.cursor()
myc.execute(sql)
conn.close()
CREATE TABLE username(
    stu_id INT AUTO_INCREMENT PRIMARY KEY,
    user name VARCHAR(20) UNIQUE,
    roll INT UNIQUE,
    fees FLOAT
);

In [ ]:
# Creating New DATABASE

import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',port=3306)
sql="Create DATABASE new"
myc=conn.cursor()
myc.execute(sql)
conn.close()

In [2]:
# Creating Table

import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',database='new',port=3306)
sql="CREATE TABLE student1(stuid INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(20),roll INT,fees FLOAT)"
myc=conn.cursor()
myc.execute(sql)
conn.close()

In [ ]:
# AVOID DUPLICATION USING CONTRAINT (UNIQUE)
# While Creating Table Itself



# CREATE TABLE stu(
#     stu_id INT AUTO_INCREMENT PRIMARY KEY,
#     name VARCHAR(20) UNIQUE,
#     roll INT UNIQUE,
#     fees FLOAT
# );

# CREATE TABLE Sales (
#     Sale_Id int NOT NULL UNIQUE,
#     Sale_Amount int NOT NULL,
#     Vendor_Name varchar(255) NOT NULL,
#     Sale_Date date,
#     Profit int
# );

In [17]:
# Show tables in Database

import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',database='new',port=3306)
sql="show tables"
myc=conn.cursor()
myc.execute(sql)
for t in myc:
    print(t)

myc.close()
conn.close()

('stu',)
('student',)
('student1',)

In [31]:
# Inserting DATA in Table

import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',database='new',port=3306)
sql="INSERT INTO stu(name,roll,fees) VALUES('UK22',1011,1000.2)"
try:
    print("0")
    myc=conn.cursor()
    print("11")
    myc.execute(sql)
    print("1")
    try:
        conn.commit()# Save inserted row in Table
        print("2")
        print("Row inserted")
    except:
        conn.rollback()
        print("3")
        print("unable to insert data")
    myc.close()
    conn.close()
except Exception as e:
    print("U===",e)
    myc.close()
    conn.close()

0
11
1
2
Row inserted

In [ ]:
# ADD a Column


# +--------+-------+------+--------+
# | stu_id | name  | roll | fees   |
# +--------+-------+------+--------+
# |      1 | Rohan |  101 | 1000.2 |
# +--------+-------+------+--------+
# ALTER TABLE stu{TABLE_NAME}
# -> ADD Email VARCHAR(255);
# +--------+-------+------+--------+-------+
# | stu_id | name  | roll | fees   | Email |
# +--------+-------+------+--------+-------+
# |      1 | Rohan |  101 | 1000.2 | NULL  |
# +--------+-------+------+--------+-------+

# Modify Data in specific column

# UPDATE stu {Table_Name}
#     -> SET {Column to modify} Email="kk@kk.com"{modification}
#     -> WHERE stu_id=1 {Serial number or something to find that specific row};

In [ ]:
# Showing Content in Table

import mysql.connector
conn=mysql.connector.connect(user='root',password='Rahul',host='localhost',database='uk',port=3306)
sql="SELECT * FROM Usernames"
myc=conn.cursor()

myc.execute(sql)
for d in myc:
    print(d)
conn.close()

In [ ]:
# Create TABLE

# CREATE TABLE Usernames(
#    Sr_No    INTEGER  NOT NULL PRIMARY KEY 
#   ,Insta_ID VARCHAR(129)
# );

In [ ]:
# See First ten element in column (Insta_ID)

# select *from mytable ORDER BY 'Insta_ID' LIMIT 10;

In [ ]:
# show content in table
# SELECT * FROM <TABLE NAME>

In [ ]:
# Delete a Table

# DROP table mytable;

In [ ]:
# show tables in existing in databases

# use {Name of database u want to see} Database;
# SHOW TABLES;
============= OR =========================
# SHOW TABLES FROM database_name;

In [ ]:
# To add serial number column with auto serial number generator

# select @globalVar:=@globalVar+1 Sr_No {COLUMN NAME},tblColumns.*

# from (select @globalVar:=0) initializeGlobalVariable,mytable {YOUR TABLE NAME} tblColumns;